@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe,
fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden,
.lp-apply .apply-form label,
.lp-apply-btm .apply-form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.lp-apply .apply-form label.focusable:active,
.lp-apply-btm .apply-form label.focusable:active,
.visuallyhidden.focusable:focus,
.lp-apply .apply-form label.focusable:focus,
.lp-apply-btm .apply-form label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

main {
  display: block;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  src: url("fontawesome-webfont.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.4;
  font-family: sans-serif;
  color: #000;
}

body {
  font-size: 1rem;
}

@media (min-width: 37.5rem) {
  body {
    font-size: 1.0625rem;
  }
}

@media (min-width: 75rem) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  font-family: serif;
}

h1,
h2 {
  font-size: 1.875rem;
}

@media (min-width: 18.75rem) {
  h1,
  h2 {
    font-size: calc(1.875rem + 0.375 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h1,
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 18.75rem) {
  h3 {
    font-size: calc(1.5rem + 0.4375 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h3 {
    font-size: 1.9375rem;
  }
}

h4 {
  font-size: 1.35rem;
}

@media (min-width: 18.75rem) {
  h4 {
    font-size: calc(1.35rem + 0.15 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.15rem;
}

@media (min-width: 18.75rem) {
  h5 {
    font-size: calc(1.15rem + 0.2 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h5 {
    font-size: 1.35rem;
  }
}

h6 {
  font-size: 1rem;
}

@media (min-width: 18.75rem) {
  h6 {
    font-size: calc(1rem + 0.15 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h6 {
    font-size: 1.15rem;
  }
}

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
}

ul,
ol {
  margin: 1rem 0 1rem 1.5rem;
}

a {
  color: blue;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #000099;
}

.fancybox-content .copyright,
small,
.copyright {
  font-size: 0.875em;
  font-style: italic;
}

.error,
.val-header {
  color: red;
}

.nobr {
  white-space: nowrap;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.5rem;
  border: 1px solid #000;
  background: #fff;
  font-size: 1rem;
  line-height: 1.6;
  -webkit-border-radius: 0;
}

input:hover[type="email"],
input:hover[type="number"],
input:hover[type="password"],
input:hover[type="tel"],
input:hover[type="text"],
input:hover[type="url"],
textarea:hover,
select:hover,
input:focus[type="email"],
input:focus[type="number"],
input:focus[type="password"],
input:focus[type="tel"],
input:focus[type="text"],
input:focus[type="url"],
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 37.5rem) {
  input[type="tel"] {
    width: auto;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  min-height: 8em;
}

select {
  overflow: hidden;
  height: 2.5em;
}

input[type="radio"],
input[type="checkbox"] {
  font-size: 1em;
  float: left;
  width: 1rem;
  height: 1rem;
  margin: 0.425em 0 0 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: block;
  min-height: 0;
  margin: 0;
  padding: 0.3125em 0 0.3125em 1.25rem;
  cursor: pointer;
  font-size: 0.9444em;
  line-height: 1.2;
}

.mauticform-req-label {
  font-weight: bold;
}

.mauticform-errormsg {
  background: red;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.25rem;
  padding: 0.35rem;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-size: 1rem;
}

.mauticform-errormsg::before {
  background: #fff;
  content: "!";
  color: red;
  border-radius: 100%;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  margin-right: 0.35rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.mauticform-page-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -1rem -5% 0 0;
}

.mauticform-row {
  display: block;
  width: 100%;
  margin: 1rem 5% 0 0;
}

@media (min-width: 37.5rem) {
  .mauticform-row.mauticform-row-partial-half {
    width: 45%;
  }
  .mauticform-row.mauticform-row-partial-third {
    width: 28.333%;
  }
  .mauticform-row.mauticform-row-partial-quarter {
    width: 20%;
  }
}

.mauticform-label {
  display: block;
  width: auto;
  padding: 0 0 0.125em 0;
  font-size: 1rem;
  line-height: 1.4;
}

.mauticform-label * {
  padding: 0;
}

.mauticform-button-wrapper {
  display: block;
  margin: 1.5rem 5% 0 0;
}

.mauticform-button-wrapper:first-of-type {
  margin-top: 0;
}

.mauticform-button-wrapper:last-of-type {
  margin-bottom: 0.5rem;
}

button.major-button,
.major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input,
.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button,
button.minor-button,
.minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input,
.lp-school-contact .lp-school-contact-options li a,
button,
.type_event_button a,
input[type="submit"],
input[type="button"],
button.button,
.button button,
a.button,
.button a,
input.button,
.button input {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: block;
  width: 100%;
  padding: 0.65em 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  outline: 0;
  line-height: 1.2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}

a.major-button:hover,
.major-button a:hover,
input.major-button:hover,
.major-button input:hover,
.lp-apply .apply-form a:hover,
.lp-apply .apply-form button:hover,
.lp-apply-btm .apply-form a:hover,
.lp-apply-btm .apply-form button:hover,
a.minor-button:hover,
.minor-button a:hover,
input.minor-button:hover,
.minor-button input:hover,
.lp-school-contact .lp-school-contact-options li a:hover,
button:hover,
.type_event_button a:hover,
input:hover[type="submit"],
input:hover[type="button"],
a.button:hover,
.button a:hover,
input.button:hover,
.button input:hover,
a.major-button:focus,
.major-button a:focus,
input.major-button:focus,
.major-button input:focus,
.lp-apply .apply-form a:focus,
.lp-apply .apply-form button:focus,
.lp-apply-btm .apply-form a:focus,
.lp-apply-btm .apply-form button:focus,
a.minor-button:focus,
.minor-button a:focus,
input.minor-button:focus,
.minor-button input:focus,
.lp-school-contact .lp-school-contact-options li a:focus,
button:focus,
.type_event_button a:focus,
input:focus[type="submit"],
input:focus[type="button"],
a.button:focus,
.button a:focus,
input.button:focus,
.button input:focus {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

@media (min-width: 18.75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input,
  .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button,
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input,
  .lp-school-contact .lp-school-contact-options li a,
  button,
  .type_event_button a,
  input[type="submit"],
  input[type="button"],
  button.button,
  .button button,
  a.button,
  .button a,
  input.button,
  .button input {
    font-size: calc(1rem + 0.15 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input,
  .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button,
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input,
  .lp-school-contact .lp-school-contact-options li a,
  button,
  .type_event_button a,
  input[type="submit"],
  input[type="button"],
  button.button,
  .button button,
  a.button,
  .button a,
  input.button,
  .button input {
    font-size: 1.15rem;
  }
}

@media (min-width: 31.25rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input,
  .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button,
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input,
  .lp-school-contact .lp-school-contact-options li a,
  button,
  .type_event_button a,
  input[type="submit"],
  input[type="button"],
  button.button,
  .button button,
  a.button,
  .button a,
  input.button,
  .button input {
    display: inline-block;
    width: auto;
  }
}

button.major-button,
.major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input,
.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button {
  font-size: 1.25rem;
}

@media (min-width: 18.75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input,
  .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button {
    font-size: calc(1.25rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input,
  .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button {
    font-size: 1.5rem;
  }
}

button.minor-button,
.minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input,
.lp-school-contact .lp-school-contact-options li a {
  font-size: 0.78rem;
  padding: 0.35em 0.65em;
}

@media (min-width: 18.75rem) {
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input,
  .lp-school-contact .lp-school-contact-options li a {
    font-size: calc(0.78rem + 0.195 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input,
  .lp-school-contact .lp-school-contact-options li a {
    font-size: 0.975rem;
  }
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

.center {
  width: 90%;
  max-width: 75rem;
  margin: auto;
}

a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.school-logo {
  display: block;
  margin: 0;
  text-indent: -9999em;
  color: #000;
}

.school-logo::after {
  display: none;
}

.school-logo {
  width: 10rem;
  height: 2.5rem;
  background: url("logo-rev.svg") no-repeat left center/contain;
}

@media (min-width: 18.75rem) {
  .school-logo {
    width: calc(10rem + 8.75 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .school-logo {
    width: 18.75rem;
  }
}

@media (min-width: 18.75rem) {
  .school-logo {
    height: calc(2.5rem + 1.5 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .school-logo {
    height: 4rem;
  }
}

.school-header {
  padding: 1rem 0;
}

@media (min-width: 18.75rem) {
  .school-header {
    padding: calc(1rem + 0.5 * ((100vw - 18.75rem) / 56.25))
      calc(0rem + 0 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .school-header {
    padding: 1.5rem 0;
  }
}

.school-footer {
  padding: 1rem 0;
}

@media (min-width: 18.75rem) {
  .school-footer {
    padding: calc(1rem + 0.5 * ((100vw - 18.75rem) / 56.25))
      calc(0rem + 0 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .school-footer {
    padding: 1.5rem 0;
  }
}

.school-footer .school-footer-links li {
  list-style-type: none;
}

.rte-custom-highschoollookup7 .result {
  position: relative;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #000;
}

.rte-custom-highschoollookup7 .result .location {
  display: block;
  font-size: 0.875em;
  font-style: italic;
}

.rte-custom-highschoollookup7 .result a {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}

.rte-custom-highschoollookup7 .result a::after {
  content: "X";
  color: #000;
  font-size: 1rem;
  line-height: 1;
}

.ac_results {
  z-index: 1000;
  background: #fff;
  position: relative;
}

.ac_results ul {
  margin: 0;
  padding: 0;
}

.ac_results li {
  display: block;
  margin: 0;
  padding: 0.75em;
  cursor: pointer;
}

.ac_results li:nth-child(even) {
  background: #eee;
}

.ac_results li .location {
  display: block;
  font-size: 0.85em;
  font-style: italic;
}

.fancybox-container {
  font-family: inherit;
}

.fancybox-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-content {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: 37.5rem !important;
  margin: 0 auto !important;
}

.fancybox-content {
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

[class*="fancybox-close"] {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}

[class*="fancybox-close"]::after {
  content: "";
  color: blue;
  font-family: "Icons";
  font-size: 2rem;
  line-height: 1;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

:hover[class*="fancybox-close"],
:focus[class*="fancybox-close"] {
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

[class*="fancybox-close"]:hover::after,
[class*="fancybox-close"]:focus::after {
  text-decoration: none;
  color: #4d4dff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fancybox-content {
  position: relative !important;
}

.fancybox-content > [tabindex="0"] {
  outline: 0;
}

.main-nav {
  border-bottom: 8px solid black;
}

.main-nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 25rem) {
  .main-nav .center {
    width: 100%;
  }
}

@media (min-width: 56.25rem) {
  .main-nav .center {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-top: -1rem;
  }
}

.main-nav ul,
.main-nav li {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav li {
  margin: 0 1px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav li:first-child {
  margin-left: 0;
}

.main-nav a {
  font-size: 0.8125rem;
  padding: 0.6rem 0.6rem;
  background: #767676;
  color: white;
  border-radius: 5px 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
}

@media (min-width: 18.75rem) {
  .main-nav a {
    font-size: calc(0.8125rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .main-nav a {
    font-size: 1.0625rem;
  }
}

@media (min-width: 18.75rem) {
  .main-nav a {
    padding: calc(0.6rem + 0 * ((100vw - 18.75rem) / 56.25))
      calc(0.6rem + 1.1 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .main-nav a {
    padding: 0.6rem 1.7rem;
  }
}

.main-nav a:hover,
.main-nav a:focus {
  background: black;
}

.main-nav a.active {
  background: black;
  -webkit-transition: none;
  transition: none;
}

@media (min-width: 31.25rem) {
  .lp-apply .apply-form .mauticform-page-wrapper,
  .lp-apply-btm .apply-form .mauticform-page-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;
  }
  .lp-apply .apply-form .mauticform-field-email_address,
  .lp-apply-btm .apply-form .mauticform-field-email_address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
  }
  .lp-apply .apply-form .mauticform-field-email_address input,
  .lp-apply-btm .apply-form .mauticform-field-email_address input {
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-field-email_address .mauticform-errormsg,
  .lp-apply-btm
    .apply-form
    .mauticform-field-email_address
    .mauticform-errormsg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-button-wrapper,
  .lp-apply-btm .apply-form .mauticform-button-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }
  .lp-apply .apply-form .mauticform-button-wrapper,
  .lp-apply .apply-form .mauticform-button-wrapper:last-of-type,
  .lp-apply-btm .apply-form .mauticform-button-wrapper,
  .lp-apply-btm .apply-form .mauticform-button-wrapper:last-of-type {
    margin: 0;
  }
  .lp-apply .apply-form .mauticform-button-wrapper button,
  .lp-apply-btm .apply-form .mauticform-button-wrapper button {
    margin: 0;
  }
}

.lp-apply .apply-form,
.lp-apply-btm .apply-form {
  position: relative;
  margin: 1.5rem 0 0;
  padding: 0 !important;
}

.lp-apply .apply-form .mauticform-button-wrapper,
.lp-apply-btm .apply-form .mauticform-button-wrapper {
  margin-top: 0.75rem;
}

.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button {
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
}

.lp-apply-btm {
  padding: 5vw 0;
}

.lp-apply-btm .lp-apply-btm-content {
  background: #fff;
  padding: 1rem 1.25rem;
  max-width: 43.75rem;
  margin: auto;
}

@media (min-width: 18.75rem) {
  .lp-apply-btm .lp-apply-btm-content {
    padding: calc(1rem + 0.75 * ((100vw - 18.75rem) / 56.25))
      calc(1.25rem + 0.75 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .lp-apply-btm .lp-apply-btm-content {
    padding: 1.75rem 2rem;
  }
}

.lp-school-contact {
  padding: 4vw 0;
}

.lp-school-contact .lp-school-contact-options {
  margin: 0;
}

.lp-school-contact .lp-school-contact-options li {
  list-style-type: none;
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
}

.lp-school-contact .lp-school-contact-options li ~ li {
  margin-top: 0.75rem;
}

.lp-school-contact .lp-school-contact-options li a::before {
  display: inline-block;
  font-family: "Icons";
  margin-right: 0.35rem;
}

.lp-school-contact
  .lp-school-contact-options
  li.lp-school-contact-phone
  a::before {
  content: "";
}

.lp-school-contact
  .lp-school-contact-options
  li.lp-school-contact-email
  a::before {
  content: "";
}

@media (min-width: calc(25rem + 2rem)) {
  .lp-school-contact .lp-school-contact-info {
    max-width: 37.5rem;
    margin: auto;
    text-align: center;
  }
  .lp-school-contact .lp-school-contact-options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 1.5rem;
  }
  .lp-school-contact .lp-school-contact-options li {
    margin-right: 0;
  }
  .lp-school-contact .lp-school-contact-options li ~ li {
    margin-top: 0;
  }
}

.lp-apply .lp-apply-content {
  padding: 4vw 0;
}

@media (max-width: 56.1875rem) {
  .lp-apply .lp-apply-content {
    max-width: 37.5rem;
    margin: auto;
  }
  .lp-apply:before {
    background: url("img-apply-sm.jpg") no-repeat top/cover;
    content: "";
    height: 40vw;
    display: block;
  }
}

@media (min-width: 56.25rem) {
  .lp-apply {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .lp-apply:after {
    background: url("img-apply-lg.jpg") no-repeat left/cover;
    content: "";
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .lp-apply .lp-apply-content {
    width: 50%;
    padding-right: 2rem;
  }
}

.lp-deferral {
  padding: 4vw 0;
  background: #eee;
}

.lp-deferral .lp-deferral-content {
  background: #fff;
  padding: 1rem 1.25rem;
  max-width: 50rem;
  margin: auto;
}

@media (min-width: 18.75rem) {
  .lp-deferral .lp-deferral-content {
    padding: calc(1rem + 0.75 * ((100vw - 18.75rem) / 56.25))
      calc(1.25rem + 0.75 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .lp-deferral .lp-deferral-content {
    padding: 1.75rem 2rem;
  }
}
/*# sourceMappingURL=style-apply.css.map */
